.user-item{
    background-color: rgb(235, 235, 235);
    padding: 20px;
    width: 250px;
    margin: 15px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.user-item:hover{
    background-color: rgb(216, 216, 216);
}


.user-container{
    display: flex;
    flex-wrap: wrap;
}