.card-item-body{
    display: flex;
    gap: 5px;
}

.card-item{
    padding: 20px;
    padding-bottom: 50px;
    background-color: aquamarine;
    width: 300px;
    height: 150px;
    border-radius: 10px;
}